<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .navbar-inverse {
        background-color: #117864 ;
    border-color: #1d8348;
}
        .navbar-inverse .navbar-nav>.active>a{
            background-color: #000099;
        }

        }
        .jumbotron{
            background-color: #884ea0;
            color:black;
        }
        </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/crud">CrudApp</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="">Home</a></li>
          <li><a href="/crud/retrieve/">Display contents</a></li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
      <h1 class="text-center">Crud App</h1>
      <p class="text-center">Welcome to Crud Application one of its own</p>
    </div>

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
             {{ form.as_p }}
             <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </form>

    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>